---
import {Image} from "astro:assets";
import frontStore from "../assets/boutique_entrance_demo.jpg";
---

<section id="about" >
  <div class="flex flex-row" >
    <div class="mx-auto max-w-6xl items-stretch justify-center flex sm:flex-row flex-col gap-8 sm:gap-12 pt-10">
    
      <div id="about_text" class="sm:w-3/5 w-full text-2xl px-6">
        <h2 class="text-terracotta text-4xl font-heading mt-10 sm:mt-0">Souvenire Shop</h2>
        <span class="block my-4"></span>
        <p class="font-body justify-center text-lake text-shadow-lg">
    Ogni grande avventura inizia da un'idea.<br> La nostra è nata sulle rive del lago.
          <span class="block my-2"></span>
          Siamo Roberto e Francesco, due ragazzi con un sogno: creare uno spazio capace di raccontare il territorio in modo nuovo,
          attraverso oggetti, sapori e dettagli che parlano davvero del Lago di Lecco.
          <span class="block my-2"></span>
          Nasce così La Boutique del Lago: un concept store dove
           <span class="font-bold text-terracotta italic"> souvenir</span>, 
          <span class="text-lake italic">eccellenze enogastronomiche </span>
          e <span class="text-lake italic">collezioni originali</span> si incontrano per offrire un'esperienza autentica, moderna e tutta da vivere.
          Questo è solo l'inizio di un viaggio che non vediamo l'ora di condividere con voi.
          <span class="block my-2"></span>
          Benvenuti a bordo.
        </p>
      </div>
  <div id="about_img" class="sm:w-2/5 w-4xl overflow-hidden px-4">
        <Image 
          src={frontStore} 
          alt="the front store image"
          class="w-full h-full object-cover rounded-2xl"
        />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="flex mx-auto w-full max-w-2xl">

  </div>
</section>


<script>

</script>
