---
import {Image} from "astro:assets";
import bgLago from "../assets/lago_hero.jpg";
import logoSvg from "../assets/logo/La Boutique Del Lago.svg?raw";
---

<section id="hero" class="relative w-full h-svh overflow-hidden">
  <div id="hero_bg" class="absolute inset-0 z-[-1] opacity-50">
    <Image
      src={bgLago}
      alt="The image of the lake"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="relative flex items-center justify-center w-full h-full">
    <div class="text-terracotta w-200 h-auto" set:html={logoSvg} />
  </div>
</section>
